[2020-11-12 09:32] filipgoc opened #3 "requirements.txt missing"
Hi, I noticed the latest release is missing `requirements.txt`. It's just not there.
Presumably this should be the same as in 0.1.0, but I don't know.
Cheers!

[2020-11-12 09:34] filipgoc opened #4 "cannot log in"
Hi, I was not able to make this work. Could not log in.

I tried the captcha in browser as in readme.md and I also tried a generated google app password (as I use multi-authentification), but no luck.

I am not sure how to troubleshoot or if that is possible.

[2020-11-12 15:18] djsudduth commented on #4
Ok - thanks for letting me know. What OS are you running and Python version?  The Keep library used has had this issue for some. There is an OAuth addition that may help.

[2020-11-12 15:19] djsudduth commented on #3
Ah - sorry - will fix it. It is the same yes.

[2020-11-12 15:38] djsudduth commented on #3
Fixed in 0.2.1 - requirements file added back in.

[2020-11-12 15:38] #3 closed

[2020-11-12 15:48] djsudduth commented on #4
One possible suggestion - be sure you are using Chrome and you're logged into your Google account on the Google homepage in Chrome before login testing. Then try keep-test.py to see if it works. Be sure to use your full Google ID and have typed it in correctly in keep-test.py

[2020-11-12 19:28] djsudduth commented on #4
Also, looking a the 'unofficial' keep API (gkeepapi ) issues list - they noted in that something in the TLS security changed in Python and that a re-install of 3.7+ seemed to fix the login issue. Not sure you want to go that far.

[2020-11-13 00:41] djsudduth opened #6 "Image links with spaces fail to render in Obsidian"
When using standard markdown in Obsidian, any images with spaces in the names should have the space replaced with %20 to render properly.  This fixes the problems with rendering images in standard markdown. Typora does not have this issue.

[2020-12-03 23:49] lucky-d-ui commented on #4
I want to go that far! 😅

[2020-12-04 00:11] lucky-d-ui commented on #4
Is it normal that I can't see the password when I enter it?

[2020-12-06 17:50] djsudduth commented on #4
@lucky-d-ui - yes, right now the pw input does not show dots as characters - that's on the backlog.  Just type in your pw and press enter.

[2020-12-15 12:35] dummifiedme opened #7 "Thank you for this code!!"
I had been searching for a tool to smoothen out my workflow, and now with this you have really made it easier for me.
I need to see how well this suits me, but it feels this is it. Since I can use keep anywhere.

I have a few questions/thoughts, if you have some time please look into them :)

1. What if I keep running with `--all` or same keywords  everytime?
     - Will it duplicate the notes? --

[2020-12-15 21:39] djsudduth commented on #7
Thanks for the comments!!  Do my best to answer you:

What if I keep running with --all or same keywords everytime?
Will it duplicate the notes? --> won't be the case, I guess.
Will it populate those notes which are not in the folder? --> Likely
Or it stores info about what was imported and when? --> May/May not be :p

**A:** If you keep running it to the same output folder, there is no overwritin

[2020-12-16 03:20] dummifiedme commented on #7
Yeah it did.
I dont know how safe it is though.

On Wed, 16 Dec, 2020, 3:10 am Don Sudduth, <notifications@github.com> wrote:

[2020-12-16 03:26] dummifiedme commented on #7
Yeah it did. But don't know how safe it is.

Regarding the unclear point. By push I mean, creating a Keep Note from Markdown. There could be some marker or a typical format, that can allow us to put a note inside keep from obsidian.

[2020-12-16 16:17] djsudduth commented on #7
Ah, ok - I get what you mean by push. I thought about that but it will be on the backburner for a while.

The library that saves your password is called Keyring and saves it in your local Windows Credential Locker, Mac Keyring or Linux Kwallet or Secret Service.  More info here: https://github.com/jaraco/keyring

If saving your pw locally feels like a security risk for you, just run ->  'python ki

[2020-12-16 16:39] dummifiedme commented on #7
If I am the only person who uses the device, it's a major risk right?

Also, Can there be a way to import just the notes edited ON or AFTER a certain day? That would be seriously useful if there is some kind of import selection based on dates.

[2020-12-16 16:47] djsudduth opened #8 "Links with same sub-URL incorrect markdown"
If a Keep note has both a URL pattern of this example: https://www.mydomain.com/coolthings/item1234/details
and the same substring URL of: https://www.mydomain.com/coolthings in the same note.

The markdown output is incorrect.

[2020-12-16 17:42] djsudduth commented on #7
Windows and Mac Credentials Locker and Keyring are pretty safe - so, the risk seems low to me.  Just to note, your password isn't saved - just the Google Keep token much like how Chrome saves your Google access token. So if it expired or you changed your password it is no longer valid.

I like the export by date idea - on the backlog!!

[2020-12-16 18:07] dummifiedme commented on #7
Thanks. I think I will use this plugin for a while then :)

For me its important because its better than manually putting my MD files into my Google Drive in iPad. I haven't yet found a way to have a seamless system to work on both devices.

In short, THANKS for this tool. Will be looking for the Obsidian Plugin!!

[2020-12-16 18:17] dummifiedme commented on #7
Also, if you are looking for more ideas for enhancement, I can suggest a few.
I don't want to seem a lot demanding. They are just suggestions or requests maybe.

1. Tag Based folder --> you can ask for folder path in the config. I don't mean to have many paths, but as subfolder to the main import folder.

2. Date wise import option --> already discussed.

3. As a plugin to Obsidian --> Already dis

[2020-12-17 01:35] djsudduth opened #9 "Exporting the same Keep note overwrites"
If a Keep note with the same title (or a single note over and over) is exported to the same output folder, the file will only look for one collision and then overwrite the second copy.
Example:
First export:      1 keep note entitled "Keep This" will have the same markdown title
Second export:  same keep note entitled "Keep This" will see a collision and add the create date-time to the markdown fi

[2020-12-17 05:20] dummifiedme opened #10 "Downloads literally all the files"
--all command downloads even the Bin and Archived files!!

How can I then download only the ones that are in the main folder?

Also, how can I specifically capture those with a particular label. (with or without hastag???)

[2020-12-17 19:43] djsudduth commented on #10
That is a bug - trash ad archived should be ignored.  To search/export label - use the # sign like #Mylabel or #My Label.  Also, search is case sensitive and do not use quotes!

[2020-12-17 20:21] dummifiedme commented on #10
Sure, thanks.

On Fri, 18 Dec, 2020, 1:13 am Don Sudduth, <notifications@github.com> wrote:

[2020-12-18 02:02] djsudduth opened #11 "Export notes by date-time"
Can there be a way to import just the notes edited ON or AFTER a certain day? That would be seriously useful if there is some kind of import selection based on dates.

[2020-12-19 17:57] djsudduth commented on #4
Note that I just ran into the problem only on Windows - no issues on Linux and Mac.

[2020-12-23 03:04] djsudduth commented on #10
Added fix in 0.3.0 - archive notes are ignored unless specifically exported with the new -a flag

[2020-12-23 03:04] #10 closed

[2020-12-23 03:04] djsudduth commented on #9
Added fix in 0.3.0

[2020-12-23 03:04] #9 closed

[2020-12-23 03:05] djsudduth commented on #8
Added fix in 0.3.0

[2020-12-23 03:05] #8 closed

[2020-12-23 03:05] djsudduth commented on #6
Added fix in 0.3.0

[2020-12-23 03:05] #6 closed

[2020-12-23 16:42] djsudduth commented on #7
@dummifiedme - note!  Version 0.3.0 is out!

[2020-12-29 00:01] djsudduth commented on #4
@filipgoc - some progress on bad logins.  There seems to have been a problem with one of the Python libraries that Google Keep API uses.  If you run a command line and type -> pip list (or pip3 list depending if you have both Python 2 and 3 installed) look to see what version of requests is being used.  It should be 2.23.0. If it is 2.24.x or higher type this:

pip install requests==2.23.0

[2020-12-29 14:42] lucky-d-ui commented on #4
20.2.3 used

[2020-12-29 15:06] djsudduth commented on #4
@lucky-d-ui not sure what you mean. Did you try the `pip install` And did it work? The version number you mentioned isn’t correct.

[2020-12-29 16:21] lucky-d-ui commented on #4
I don't know what problem(
I took a new computer - everything worked!

[2020-12-29 16:21] lucky-d-ui commented on #4
on windows

[2020-12-29 21:06] lucky-d-ui opened #13 "Localization"
I have a new problem

I am Russian 😅
Cyrillic text is not exported. Transfers as ���.

Also KIM does not support labels and 'my search term' in Russian. But this is not so important anymore.

can we make it multilingual?

[2021-01-01 21:49] djsudduth commented on #13
I'll take a look - right now KIM is not Unicode compliant.

[2021-01-01 22:19] djsudduth commented on #13
Looking at the code this is both an enhancement and a bug!  @lucky-d-ui I will have it fixed in version 0.3.1.
В следующей версии исправлю! Хорошего дня!

[2021-01-03 03:54] djsudduth commented on #4
This issue is now fixed in gkeepapi 0.13.4

[2021-01-04 22:13] djsudduth commented on #13
@lucky-d-ui  foreign language is now supported.  I tested some Russian using Google Translate and it seemed to work - would like you to test it if possible.  Thanks!

[2021-01-05 08:30] lucky-d-ui commented on #4
Here I am almost certainly sure that the problem was in multiplayer Chrome. I installed Microsoft Edge and made it the default browser. But it didn't work. I ended up making chrome single-user and it worked.

[2021-01-05 08:48] lucky-d-ui commented on #13
Great!
Thank you very much 👏
It works

[2021-01-05 08:48] #13 closed

[2021-01-22 21:36] djsudduth opened #15 "Skip notes"
Add an option to skip notes if they exist

[2021-01-22 21:37] djsudduth opened #16 "Use body text for empty titles"
Currently, the create date-time is used for empty notes. Add an option to use the first n characters of the note body instead.

[2021-01-22 21:40] djsudduth opened #17 "Tag-based folders"
Export notes into folders based on tag names

[2021-01-22 21:41] #7 closed

[2021-01-22 21:43] djsudduth opened #18 "Import markdown into Keep"
Add functionality to import markdown files into Keep notes (would probably be a separate script)

[2021-02-10 03:24] #15 closed

[2021-02-10 03:24] #16 closed

[2021-02-19 02:09] djsudduth commented on #17
Some investigation shows that tag names could be problematic for folders. Tags would have to be modified to remove special characters. Might be worth checking with the Obsidian community on how they normally use folders.

[2021-02-20 21:32] djsudduth opened #20 "AAC audio to MP3 file converter"
Conversion testing was successful. But, I will have the script run separate from KIM since the installation and configuration of ffmpeg adds undo complexity to KIM.  Current thinking is to convert notes and then run a post converter if needed to change all notes with AAC audio links to the MP3 extension and convert each AAC file to MP3.

Steps - download ffmpeg, extract zip into a folder, add fold

[2021-02-21 02:08] djsudduth opened #21 "GUI user interface"
Investigate building a KIM PyQt app

[2021-03-23 04:18] davenicoll opened #22 "Can't set attribute gnote.text"
Steps to reproduce

1. create a keep note with an image
1. run kim.py to export it
1. line 211 throws an exception - gnote.text = blob_file + "\n" + gnote.text

Workaround

I had to change gnote.text to note_text and write that out.

[2021-03-23 04:20] davenicoll opened #23 "Markdown formatting issues"
In a previous commit, line 254 was commented out -
[code]
This, among other things, means that lists/checkboxes aren't properly converted to markdown. I had to uncomment this line to  format my notes correctly.

Was this commented in error?

[2021-03-23 13:48] djsudduth commented on #22
Thanks!! I will take a look

[2021-03-23 13:50] djsudduth commented on #23
There was a more generalized and cleaner formatting of note text added in 0.4.0 - checkboxes must have been missed. I will check into it.

[2021-03-23 14:38] davenicoll commented on #23
Thanks @djsudduth ... FYI I only discovered after I posted this, that the markdown for a checkbox should be `- [ ]` or `- [x]` rather than just `[ ]`.

[2021-03-23 23:16] djsudduth commented on #23
Glad you like it! I could not reproduce the problem. My keep check boxes and lists convert successfully and render markdown in Obsidian and Typora.  Do you have an example of how your note was formatted that you saw this issue?

[2021-03-23 23:31] djsudduth commented on #22
I cannot recreate this problem either. Did you have some unusual characters in your note text?  I tried creating notes with images and all converted without issues - including my normal Keep notes I already had with images.  Are you sure you're using version 0.4.0?

[2021-03-24 18:41] davenicoll commented on #23
Sure, here's a keep that tripped up.

It has an image.
[code]
I'll do some more testing later today.

[2021-03-24 18:44] davenicoll commented on #22
Yup, I pulled the latest. Seems odd you can't reproduce it, now I'm wondering if it's one of the dependencies. I'll check later today.

[2021-03-24 19:33] davenicoll commented on #22
Here are my installed packages
[code]

[2021-03-24 19:55] davenicoll commented on #22
I think I've found the problem. Compare these two gnote objects -
[code]
[code]

The first one works, the second one doesn't. Setting `gnote.text` when the type is `<NodeType.List: 'LIST'>` results in a `can't set attribute` error.

[2021-03-24 20:32] davenicoll commented on #21
Do you need any help with this? I'm kinda interested.

[2021-03-24 20:54] davenicoll commented on #23
I don't see anywhere else in the code where text boxes are converted to their markdown equivalent, so I wondered if you had a version locally that you've not pushed? I've submitted a update to my PR which includes a fix for this too.

[2021-03-25 00:53] djsudduth commented on #23
Thanks - that recreated the error - the LIST type is immutable for the gnote.text field thus throwing the error when attempting to prepend the image markdown (I haven't looked at your fix yet)

[2021-03-25 00:54] djsudduth commented on #22
Thanks - that recreated the error - the LIST type is immutable for the gnote.text field thus throwing the error when attempting to prepend the image markdown (I haven't looked at your fix yet)

[2021-03-25 01:02] djsudduth commented on #22
Fix now in 0.4.1 development

[2021-03-25 14:54] djsudduth commented on #22
@davenicoll - this was fixed already so I closed your merge.

[2021-03-25 15:02] djsudduth commented on #23
@davenicoll - could you take a look at this?  Sorry that I missed your pull request yesterday was the other bug and not this one ( I was in a hurry :) ).  I don't use lists much so this is probably why the output is incorrect.  Thanks for your help!

[2021-03-25 17:06] djsudduth commented on #23
PS @davenicoll - the line that was commented out should be reduced to just checkboxes/list markdown. The original reason it was commented out was due to allowing full Unicode/foreign languages.  There may be some other markdown conversions necessary besides checkboxes.

[2021-03-28 17:45] djsudduth commented on #23
@davenicoll - will you be taking a look at this? Or, do you want me to incorporate you other pull requests and manually merge it in?

[2021-03-30 15:29] davenicoll commented on #23
Hey @djsudduth, sure, I'll take a look. I'll check the markdown formatting rules and see if anything should be in there, before submitting a PR.

[2021-05-04 02:09] djsudduth commented on #23
I did the fix - in testing now

[2021-05-04 21:00] Evdokimoff opened #26 "AttributeError("can't set attribute")"
I trying to use KIM 0.40. Successfully logged, successfully run test, but further I have a problem: Problem with markdown file creation: mdfiles\somefile.md  Technical Error Message: AttributeError("can't set attribute") I see that error appears with notes contains pictures (maybe other objects). Further I delete pictures in Keep - I don't see any error. But I have thousands of notes... What can I

[2021-05-04 22:02] djsudduth commented on #26
@Evdokimoff hi! Can you explain to me what type of note causes the issue?  What do you have within the note? (or can you post an image of the note - if it isn't personal - that has the problem)?  I'm working on bug fixes right now for 0.4.1 so it would be great if I can fix it.

[2021-05-04 22:15] Evdokimoff commented on #26
One of this note, for example, contains just one photo and some bullets
(picture attached). In other note were two pictures and bullets

ср, 5 мая 2021 г. в 01:02, Don Sudduth ***@***.***>:

[2021-05-04 22:51] djsudduth commented on #26
It doesn't look like the image attached - can you try again?

[2021-05-04 23:52] djsudduth commented on #26
@Evdokimoff also, what device and OS did you use to create the notes with images?  Was it a mobile device?  (Also wondering if the bullets could be the problem)

[2021-05-05 06:42] Evdokimoff commented on #26
<img width="285" alt="Screenshot (3)" src="https://user-images.githubusercontent.com/3206382/117104834-80e9e580-ad85-11eb-8410-023da094013e.png">

Maybe I used mobile (Xiaomi Redmi Note 7) and Android for these notes (probability 90%)

[2021-05-05 14:26] djsudduth commented on #26
@Evdokimoff - can you tell if the image downloaded into the mdfiles/media folder?  It would have the same title (Обустройство Квартиры0.png or Обустройство Квартиры0.jpg) Also, I see you have check boxes which was something just fixed in 0.4.1 (but, they weren't failing). Did you have tags as well?

If possible, could you copy and paste the list from the note (if it isn't personal) here?  Also, an

[2021-05-05 15:18] djsudduth commented on #26
If you want, you could also share the note to my test Google account ( pluraldon at yahoo.com ). Another way for me to test it.

[2021-05-05 16:04] Evdokimoff commented on #26
I gave you access, check it
Yes, image is downloaded with 0 at the end
Yes, I have check boxes and tags

ср, 5 мая 2021 г., 18:18 Don Sudduth ***@***.***>:

[2021-05-05 17:41] djsudduth commented on #26
The share didn't work - I don't see it in the test account

[2021-05-05 17:56] Evdokimoff commented on #26
Check again :)

ср, 5 мая 2021 г., 20:41 Don Sudduth ***@***.***>:

[2021-05-05 22:18] djsudduth commented on #26
@Evdokimoff - thank you for sharing that!!! I found the problem. It had already been fixed in 0.4.1. Turns out it is this same issue -> https://github.com/djsudduth/keep-it-markdown/issues/22.  If you want you can go here to the develop branch and just replace your 0.4.0 Kim.py with the new develop testing Kim.py file for 0.4.1.

https://github.com/djsudduth/keep-it-markdown/tree/develop

The new

[2021-05-06 09:54] Evdokimoff commented on #26
Thanks a lot! I "update" KIM - it's working! Thank for you work! Спасибо ;)

[2021-05-06 09:54] #26 closed

[2021-06-16 12:58] tcikovsky opened #28 "The script doesnt work"
I don't understand what google username means. Is it just the name of the google account. I also saw a version mentioning something called google id? What is it? I tried my google name (my actual name and the name of the account) but it returns an exception. I don't know if the name is wrong but I need to know what it is to figure out what the problem is either way. Could you please elaborate on "

[2021-06-16 13:37] tcikovsky commented on #28
my dumb ass just has a broken git bash. i am so sorry for the inconvenience.

[2021-06-16 14:13] djsudduth commented on #28
@tcikovsky - the google username is the account id you use to log into google. It is typically an email account id if you are not using other Google services like 'myname@yahoo.com', or, if you have a gmail account that is 'myname@gmail.com' you can use that. If you have gmail you can also just enter 'myname' without the @gmail extension - that works as well.

[2021-06-16 18:21] tcikovsky commented on #28
okay yeah that helped, also I don't want to order you in any way or anything but that is rather confusing, I think it would really help to add that to the readme. again not really my place to speak, just some feedback

[2021-06-16 18:21] #28 closed

[2021-06-16 18:28] djsudduth commented on #28
@tcikovsky  - thanks for the feedback!! No problem and hope it works for you. Just an FYI - if you have issues with converting checkboxes in 0.4.0, just download the kim.py in the dev branch for the fix. 0.4.1 is just about ready.

[2021-07-23 13:48] Xyde opened #29 "Is there a way to import notes from Takeout?"
I exported notes to Takeout just a day before I found out about this script and deleted everything (because I don't have any more Google space). Can this app run with Takeout archive without logging in?

[2021-07-28 21:27] djsudduth commented on #29
@Xyde - unfortunately, no. It is on the backlog as a future feature - but not available yet.  There are some other github projects out there, however, that can do it!  Just search with the Google Keep tag.

[2021-07-28 22:49] djsudduth commented on #23
released in 0.4.2

[2021-07-28 22:49] #23 closed

[2021-07-28 22:49] djsudduth commented on #22
released in 0.4.2

[2021-07-28 22:49] #22 closed

[2021-07-29 02:52] djsudduth commented on #29
@Xyde - maybe this one?  https://github.com/vHanda/google-keep-exporter

[2021-09-03 13:45] djsudduth opened #32 "Move to new Google official Keep API"
Google released V1 of the Keep api last week - will start looking at migration

[2021-10-18 05:45] BatmanAoD opened #33 "App password - workaround for login issue"
I was unable to log in using the instructions in the README, but creating an app password worked with no issues. Here are the app password instructions: https://support.google.com/accounts/answer/185833

I don't know exactly what the problem was, but I suspect it may be that my account has 2FA configured. I am on a Windows machine, but my `gkeepapi` version is 0.13.6 (which should have the fix men

[2021-11-04 02:54] 4MarkusMarkus opened #34 "Cannot sign in, keep-test.py -> working, kim.py -> cannot sign in"
Hi Great work!!! would love to use the tool :).
As I have described above, keep-test.py -> working:
[code]

kim.py -> cannot sign in, will ask me to put in username, but not ask for password, will throw error right after username is put in
[code]

I am using **Sign in with App Passwords** https://support.google.com/accounts/answer/185833 for sign in.

running Python 3.8.10

[2021-11-04 03:47] djsudduth commented on #34
@4MarkusMarkus - thx! Somehow you are missing a keyring secure storage module for the Keep token. I think you can still use kim with the -r parameter and it won’t try to save your Keep token.  “kim.py -r”

what operating system are you using?

[2021-11-15 20:25] djsudduth commented on #34
@4MarkusMarkus did you try the 'kim.py -r' option yet?

[2021-11-19 04:46] snokec opened #36 "--all option fails to export all notes"
Using the `--all` option, `kim.py` reports 501 exported notes. However only ~257 notes are exported. Using Google Takeout, I confirmed I do have a total of `501` notes - so `kim.py` is reporting the correct number of source notes but not actually converting all of them. The script does not appear to be crashing.

[2021-11-19 06:28] djsudduth commented on #36
Thanks for letting me know @snokec - what version were you using, Python version, OS and if some of your notes do not have titles (just a hunch).

[2021-11-19 07:39] snokec commented on #36
kim.py `0.4.3`
python `3.8.10`
MacOS `10.15.7`

I do have some notes without titles - but not enough to make up the difference - and it looks like they were converted successfully with dates as titles. However I have many notes in Keep with duplicate titles, and it appears only one note per title was converted. I'm not using any script options except `--all`.

I may try to compare my takeout expor

[2021-11-19 09:19] devidw commented on #36
@snokec Are some of the notes you are missing in the archive?

 You can have a look into the [archive notes section](https://github.com/djsudduth/keep-it-markdown/#archive-notes) in the `README.md` for how to export those.

[2021-11-19 15:14] djsudduth commented on #36
@snokec @devidw  - good question about the archived notes. However, there does seem to be a counting issue with the `--all` switch. I'm still getting all notes exported I believe, but the count number on the screen seems off.  I'll check into that.

@snokec can you confirm the archive question please?  Thanks!

[2021-11-19 15:21] djsudduth commented on #36
@devidw - your very good point on archived notes gave me a thought on the count issue - when I walked over to get my coffee I realized that the count with `--all` is most likely counting both archive and trash notes even though they are not converted. I will test that.

cc @snokec

[2021-11-19 15:34] snokec commented on #36
I did some digging:

- Google Takeout for Keep produces 501 note files
- KIM reports 501 notes converted when using `--all` option

So those numbers match. I agree that the `--all` count seems to be counting archived notes (not converted with `--all`) as well as non-archived notes.

If I do a quick scan of my Keep notes, rounding numbers for arguments sake, I have ~260 non-archived notes and ~240

[2021-11-19 15:59] djsudduth commented on #36
@snokec - thank you for doing the scan! I think you've uncovered 2 issues - 1) archive notes being counted even though they are ignored when not using the `-a` switch, and 2) reminders might be ignored completely.  I will take a look!

[2021-11-19 16:11] snokec commented on #36
@djsudduth one addition: though many of my archived notes were originally created as reminders (title but no body/content) - they no longer have reminder date/times associated with them. They therefore appear in Keep as regular notes with a title but no body/content (they do **_not_** appear when clicking from the _Notes_ filter to the _Reminders_ filter in the Keep UI).

Not sure if Keep/Keep API

[2021-11-19 16:13] djsudduth commented on #36
@snokec - confirmed bug #1 - the count is all notes including archive and trash (but only non-archived/trash notes being converted)

But, for #2 I can't duplicate. I see what you're seeing - the reminders disappear in some cases. I tried putting reminders with short titles and no body in my main notes and moved some to archive and trash and back - they still get converted from archive. Is there so

[2021-11-19 16:27] djsudduth commented on #36
@snokec  - just a thought - try this command if you haven't yet -> `kim.py -a -b --all` and see if the reminder notes still are ignored.

[2021-11-19 19:39] djsudduth commented on #36
@snokec if you want to fix the counting issue manually - add this just after line 304 in kim.py
      `else:
            ccnt = 0`

[2021-11-19 19:42] djsudduth commented on #36
@snokec if you want to fix the counting bug manually for now - you need to add 2 lines after line 304 in kim.py
     else:
            ccnt = 0
note that the indents must match

[2021-11-19 19:52] snokec commented on #36
* Not that I can see - most of them have no dates, no labels/tags, etc. Just a title with no body
* Also out of ~240 archived notes, less than half are old reminders, so there are lots of other archived notes that aren't converting with the `-a` option

* Progress! This successfully converted 244 archived notes, which is probably all of them

[2021-11-20 18:11] djsudduth commented on #36
@snokec - so if the `kim.py -a -b --all` worked for you with archived notes, what command and switch were you running? Just the `kim.py -a`  and then typed `--all` in the prompt?

[2021-11-21 19:24] snokec commented on #36
@djsudduth
Your question made me realize I was probably not using the `-a` option for archived notes correctly.
If I do `python3 kim.py -a` then `--all` at the prompt - all of my archived notes are converted.
If I do `python3 kim.py` then `--all` at the prompt - all of my non-archived notes are converted.
These two together seem to catch everything.
I don't remember exactly what I was doing before

[2021-11-24 11:09] ichmoimeyo commented on #34
I also used to have sign in problems ...
I was able to solve it with ...

**pip3 install --upgrade keyrings.alt**

[... from [stackoverflow](https://stackoverflow.com/questions/53164278/missing-dependencies-causing-keyring-error-when-opening-spyder3-on-ubuntu18) ]

This way I just enter the pin# I chose and haven't had any problems since.

So my sequence now is ...

pip install -r requirements.txt

[2021-11-24 22:52] ichmoimeyo opened #37 "How I solved my keyring sign-in issue"
I used to have sign in problems ...
I was able to solve it with ...

pip3 install --upgrade keyrings.alt    **---OR---**    pip install --upgrade keyrings.alt

[... from [stackoverflow](https://stackoverflow.com/questions/53164278/missing-dependencies-causing-keyring-error-when-opening-spyder3-on-ubuntu18) ]

This way I just enter the pin# I chose and haven't had any problems since.

/////////////

[2021-12-09 00:49] djsudduth commented on #37
@ichmoimeyo thank you!

[2022-05-04 01:47] djsudduth commented on #17
Looking into this for version 0.5.0. Notes with multiple tags would have to pick one folder - which one wins?

[2022-05-04 22:29] kalico1 opened #42 "Python errors and login problem"
I am having a hard time getting this installed. Seems to be a problem with python but every attempt to correct it has failed. Initially it was just telling me that gkeepapi was not installed, but everything I do to fix it (including trying to install gkeepapi independently of requirements.txt) seems to make it worse. Here's where I stand now....hope someone can help.

The following happens whether

[2022-05-04 23:06] djsudduth commented on #42
Looks like maybe you have python 2 and 3 installed? If python runs under python3 then you should use pip3 instead of pip.

[2022-05-04 23:07] djsudduth commented on #42
This looks suspicious-> Python path configuration:
  PYTHONHOME = (not set)

[2022-05-04 23:09] djsudduth commented on #42
Take a look at this

https://stackoverflow.com/questions/65184937/fatal-python-error-init-fs-encoding-failed-to-get-the-python-codec-of-the-file

[2022-05-05 02:47] kalico1 commented on #42
Ok, that helped! I just removed the entries in .zshrc and it was fine. (I did that because of an earlier error and a different thread on stackexchange....not going to try to figure out why it borked everything.)

But....now I've got a new problem: I can't log in to my account.

[code]

I have followed the instructions to copy/paste that URL and it said my account was unlocked, but it still failed

[2022-05-05 02:55] kalico1 commented on #42
I also discovered a security check email in my inbox to confirm it was me. I generated a new app password, confirmed via the email link BEFORE using it, but still got the same message as above.

[2022-05-05 04:34] djsudduth commented on #42
Take a look at this:

https://github.com/djsudduth/keep-it-markdown/issues/37

[2022-05-05 04:38] djsudduth commented on #42
See if this helps:

“I moved to a linux system today and had issues, seems the default/latest gpsoauth (0.4.3) which was installed with gkeepapi has issues.
I changed to use a previous gpsoauth (pip install gpsoauth==0.4.2) and that now works.
AttributeError: attribute 'post_handshake_auth' of '_ssl._SSLContext' objects is not writable”

[2022-05-05 05:12] kalico1 commented on #42
Thanks for all your help!

I had already tried #37 (it was linked in my post above but not with the #, I'll keep that in mind in the future, thanks)

I tried the goauth install and that helped a little? It got rid of the handshake/not writable error, but now I've got this:

[code]

I've tried using my actual google password, doing the extra authentication/captcha step, and finally created an app p

[2022-05-05 05:18] kalico1 commented on #42
I also tried allowing less secure apps in google acct, but I'm back to the "bad authentication" error. I have double checked my password. I have no further option to set up an app password because I turned off 2FA.

[2022-05-05 05:22] kalico1 commented on #42
I'm going to try this:

https://github.com/kiwiz/gkeepapi/issues/81#issuecomment-770389348

TL;DR: "So I think finally important was pinning the requests library and updating to the latest python3 version."

[2022-05-05 06:03] kalico1 commented on #42
Ok, before doing that, I thought...maybe I neglected to restart the terminal at some point when I should have. So I closed and reopened.

Then this happened:

[code]

So I decided to try the install again

[code]

So that was a successful install...apparently. (But I have since upgraded some of those, including gkeepapi and gpsoauth, so I'm not sure what's going to happen next.)

Ok, moving on, I

[2022-05-05 06:10] kalico1 commented on #42
Same "needs browser" error. I'm going to bed!

[2022-05-05 14:11] djsudduth commented on #42
Take a look at https://github.com/kiwiz/gkeepapi/issues/20

Someone noted re-enabling app pw:

I experienced this issue myself when i was trying to test out gkeepapi. Funny thing is, I had disabled two-step authentication and the issue still occurred. So I thought what would happen if I enable two step authentication for my google account to be able to generate app password for my script. It turns

[2022-05-05 18:38] djsudduth commented on #42
@kalico1   I tried it on my Macbook Pro running Sierra 12.3.1 and couldn't get kim to work. But, when I ran as admin using ->
`sudo python kim-test.py`
that worked!  Maybe give that a try!

[2022-05-06 02:11] kalico1 commented on #42
Hey thanks for the thoughts. Really appreciate it. I want my Keep notes in Obsidian something fierce! lol

1) I've already tried using an app pw, and that hasn't worked yet.
2) Specs got lost in an earlier post, here they are again along with something I forgot - the OS version!
I've got my Google account open in Chrome
not logged in as any other user
MacBook Air (M1, 2020) Big Sur 11.6.1
Python 3

[2022-05-06 03:03] kalico1 commented on #42
Yahoo, I got it working!!!

I kept on getting the "Need Browser" error, and I finally connected it with something you asked: **what is my default browser?**

I use Chrome all the time, and I had Chrome open, and I was doing everything in Chrome as the instructions stated. But what if my MBA (terminal, in particular) thinks _Safari_ is the default? I had to jump through all the hoops of logging int

[2022-05-09 21:57] kalico1 commented on #42
Thanks for all your help!

[2022-05-11 17:39] TylerDavidJames opened #43 "Is there any way the exported markdown files can have their "date created" set to the keep note's "date created" that is written in the files themselves?"
Love the script, thanks so much for saving me days of work!
I like that I can add the date created and updated from the keep note to the end of the markdown file that it generates, but I'm wondering if there is any way to create a markdown file for each note that has customised metadata that says it was created on the date that the keep note it refers to was created. That way when you sort the exp

[2022-05-12 00:37] djsudduth commented on #43
Hmmmm.....interesting question. It is possible but not very easy - there are some python libraries that can modify the create date but doing this is tricky on multiple operating systems (windows, linux, mac). However, I could add a switch to sort and export notes by the Keep datetime order and delay the output so that notes are output in the markdown file create time order. In that case you could

[2022-05-12 01:08] TylerDavidJames commented on #43
That sounds great too! I noticed that the sort by date option in obsidian did leave some of my more recently created keep notes futher away on the list than my earliest created ones, because they were all exported within 3 minutes or so, and I think it went through them in order. So I think there is a rough version of what you are envisioning already happening naturally just depending on how slow

[2022-05-13 14:13] jamesmortensen commented on #42
@djsudduth Quick question, when you move to the official Google Keep API, does this mean this tool won't be available for regular gmail accounts?  I was under the impression that the official Google Keep API would only work with Google Workspace accounts.  Thank you.

BTW, I just discovered this tool, and it looks awesome.  I have wished Google Keep used markdown for years, and I've made a habit o

[2022-05-13 14:37] djsudduth commented on #42
@jamesmortensen - right now that seems to be the case (tho I haven't dug into it much yet). My assumption is that the API will be general use at some point since so many users don't have Workspace accounts. Rest assured, this utility will stay on the unofficial API until Google provides the general one.

[2022-05-13 16:23] jamesmortensen commented on #42
@kalico1 I am running into the same problem but an trying to login from a GitHub Actions runner so that I can automate the process of backing up my Keep notes.  I have 2FA and an app password set up and I get the same NeedBrowser error.

The Safari vs Chrome issue you overcame, do you know how I would deal with that from a GitHub Action runner?  These are essentially fresh VMs where we have never

[2022-05-13 17:40] djsudduth commented on #42
@jamesmortensen - does this help?

https://github.com/browser-actions/setup-chrome

[2022-05-14 09:01] jamesmortensen commented on #42
Thanks for sending @djsudduth Are you saying I need to somehow log into my Google account in GitHub Actions via Chrome before I can go through kim (or the python gkeepapi) with an app password?

[2022-05-14 17:59] djsudduth commented on #42
Not sure @jamesmortensen - just thought it might aim you towards a VM setup and login.

[2022-05-18 02:45] djsudduth commented on #42
@kalico1 - what did you enter as the app name for the Google app password?  Was it `kim.py`?

[2022-05-18 14:00] djsudduth commented on #42
@kalico1 - can you outline the steps you took to setup the app password for google's 2FA?  I have another system encountering your issue and the app password isn't working. We think it might be related to approval notification - but maybe the app pw is setup incorrectly.

[2022-06-21 19:01] #36 closed

[2022-06-27 03:22] nveeser commented on #34
FWIW I am having the same issue...
Ubuntu 20.04
Python3 3.8.10

[2022-07-12 04:09] jayb323 opened #44 "ModuleNotFoundError: No module named 'gkeepapi'"
Hey there,

This is an odd one.

I've ran `pip install -r requirements.txt`

But when I go to run `python keep-test.py` I get this error:

`PS C:\keep-it-markdown-0.4.0> python keep-test.py
Traceback (most recent call last):
  File "C:\keep-it-markdown-0.4.0\keep-test.py", line 2, in <module>
    import gkeepapi
ModuleNotFoundError: No module named 'gkeepapi'`

If I run `pip install gkeepapi` I ge

[2022-07-12 04:46] jayb323 commented on #44
I reinstalled Python and it resolved this issue.

[2022-07-13 16:05] djsudduth commented on #44
Thanks for working through the problem!

[2022-07-13 16:05] #44 closed

[2022-07-13 16:07] djsudduth commented on #42
Note for everyone: I was able to get KIM to work with 2FA on. Key is to make sure you have the latest version of gkeepapi and use Python 3.8+ now. You must use an app password for the first time logging in.  If you use an app password for keep-test.py, then you must create a 2nd app password for first time in kim.py.

[2022-07-13 16:10] djsudduth commented on #34
@nveeser - see the previous comment for the fix for keyring (I assume you're having the keyring issue)

[2022-07-13 16:50] djsudduth commented on #33
This is addressed in #42 - add any comments there.

[2022-07-13 16:50] #33 closed

[2022-07-13 16:51] djsudduth commented on #34
This is addressed in #37  - closing for now

[2022-07-13 16:51] #34 closed

[2022-07-13 16:52] djsudduth commented on #4
All login issues are now in issue #42  (yes, 42, of all things).

[2022-07-13 16:52] #4 closed

[2022-07-13 19:21] djsudduth commented on #17
This just seems too problematic overall. Closing it for now - if someone reopens it, maybe it will be addressed.

[2022-07-13 19:21] #17 closed

[2022-08-17 23:36] fshapps opened #45 "SyntaxError: invalid syntax"
Getting the following when attempting to run the script:

[code]

Unfortunately, I am not a programmer. Some assistance would be appreciated. Thanks!

[2022-08-17 23:47] fshapps commented on #45
Figured it out. Needed to specify phython3. Thanks for the awesome tool!

[2022-08-17 23:47] #45 closed

[2022-08-18 00:32] ichmoimeyo commented on #45
I believe you reported this in the "wrong" github ...

https://github.com/erikelisath/keep-to-markdown

... I think is the one you are using ... anyhow glad you got it solved :)

[2022-09-19 19:10] tedblizzard100 opened #46 "Error when running kim.py"
I am getting this error:
"local variable 'md_file' referenced before assignment"
Is there any workaround - Please?
Thank you

[2022-09-19 21:11] djsudduth commented on #46
Do you get this error every time you run kim.py? If so, can you try running kim.py with a search term that isolates down to 1 or 2 notes? Does that fail as well?  Couple of thoughts come to mind:

1. Are you running the latest version of kim v-0.4.3?
2. Is your settings.cfg file correct for the output? Try setting it to default values by overwriting it with this
[SETTINGS]
google_userid = <yourid>

[2022-09-19 23:56] tedblizzard100 commented on #46
Thank you @djsudduth I really appreciate your help.
I updated to 0.4.3 and checked the settings as you spesified.  I am getting a new error::

Enter a keyword search, label search or '--all' to convert Keep notes to md or '--x' to exit: ToObsidian
Error in keep_query_convert()
Conversion to markdown error - UnboundLocalError("local variable 'md_file' referenced before assignment")
Could not excute

[2022-09-20 01:05] djsudduth commented on #46
Sure @tedblizzard100 - after debugging this a bit, I see the error appears if your output_path or media_path in the config file has one of these issues:
1. Either are pointing to a read-only directory
2. The pathnames are incorrect for the path you want
3. KIM cannot create those directories for output or media
4. The directories are full
5. Invalid characters are used for the path names (or inval

[2022-09-20 18:57] djsudduth commented on #46
@tedblizzard100 I also just want to verify - does this error occur if converting a single simple note that has a title, some text and no attached media (picture or drawing)??  (Just find a note that is unique for one word or just create one)

[2022-09-20 23:47] tedblizzard100 commented on #46
Thank you so much @djsudduth for your help.  I am sure you are correct.  It is a problem with my path.  It is not even accessing the Google Keep data at the point because the error is instant.  This is what I have in the config file does any of this look wrong (Note I am on windows):
[SETTINGS]
google_userid = <<this is where my user name goes>>
output_path = "C:\Users\tedbl\Google Drive\Second Br

[2022-09-21 03:23] djsudduth commented on #46
Ok - I see the issue. Do this:
- Remove the <> from the google id and leave it blank or just have your id
- change the backslashes \ to forward slashes / (even on Windows)

[2022-09-22 02:26] tedblizzard100 commented on #46
@djsudduth Thank you again for all your help.
1. the <> is where my email address is.  I just put this <> for reference.  It seems to log me in fine with my email address.
2. I changed the \ to /
3. I used single quotes and verified the path
4. Media_path tried with and without quotes both produce the same error.
5. I am not using any line feeds in the path names
But I am still getting the same er

[2022-09-22 03:29] djsudduth commented on #46
Tey removing the quotes on 'media'

[2022-09-22 03:47] tedblizzard100 commented on #46
Yes, Thank you.  both ways with and without quotes as indicated in number 4 above. Same error.

[2022-09-22 14:16] djsudduth commented on #46
Ok, so you need to try the simple test - just use the KIM install directory and set the settings.cfg to the defaults of `mdfiles' and 'media'.  Make sure that works before altering any paths - then, evolve it from there.  Meanwhile, I'll create a directory the same as yours and try to see where the issue is.

[2022-09-22 16:23] djsudduth commented on #46
Ok, I did a test - remove all quotes from any of paths.  I had the same errors you had any time I added single or double quotes. Once I removed them, it worked.

[2022-09-22 16:35] tedblizzard100 commented on #46
YES!  It worked perfectly.  Thank you so much @djsudduth for all your help.

[2022-09-22 20:32] djsudduth commented on #46
Fantastic!!! Hope you enjoy it. Then next version will be out in a couple of months. Adding bulleted Logseq markdown and import from Google Takeout (some of the features). Let me know if there are features you'd like to see.

[2022-09-23 02:41] #46 closed

[2022-11-01 18:11] nmeyne opened #47 "Login Errors - has the keep API changed?"
On Ubuntu 22.04.1 LTS I have python3 and pip 22.3 and kim seemingly installed OK, but I can't get a successful keep-test to run: Technical Error Message: LoginException('BadAuthentication', None)
I have tried logging in to keep in both chrome and firefox browsers, but I'm still getting the authentication error. Does this method support 2FA on the Google account? Wondering if there have been any ot

[2022-11-01 21:30] ichmoimeyo commented on #47
I am using KIM online @ replit.com ... so none of the following may be relevant to you ...

**1st** login issue I had was solved by following the instructions ...

**2nd** login issue was solved by ...

pip3 install --upgrade keyrings.alt

... that I described here [How I solved my keyring sign-in issue #37](https://github.com/djsudduth/keep-it-markdown/issues/37)

... then everything worked fine

[2022-11-01 23:11] djsudduth commented on #47
Thank you @ichmoimeyo for the helpful response. Also, @nmeyne you must use Python 3.8+. There were some changes in the libraries that broke 3.7.

[2022-11-01 23:23] nmeyne commented on #47
Many thanks @ichmoimeyo and @djsudduth.  Yes I have tried all 3 methods above, but I'm still getting the same error.  What app name should be used for sign in with app passwords?

[2022-11-01 23:53] djsudduth commented on #47
You can use any name you want - it is just a identifiable name for you. Be sure to log out of any and all Google accounts and use the first 2FA app password with KIM. If you use it with the KIM teat app you'll need another app pw. @nmeyne

[2022-11-02 10:26] nmeyne commented on #47
@djsudduth yes all that done multiple times now in keep-test and KIM, but I am still getting the 'BadAuthentication' for keep-test auth and for KIM Username or password is incorrect (LoginException('BadAuthentication'))  Could not excute KIM.  Must be something else or local. Might try replit as @ichmoimeyo had success there.

[2022-11-02 12:44] ichmoimeyo commented on #47
@nmeyne I made myself a myNotes.txt cheat-sheet in replit to go through as well as copy commands from to paste into the console. At the time I created the apppassword due to 2 Step verification I copied it so that I could easily reuse it whenever needed.

Here is my cheat-sheet - hopefully not too confusing ...

/////////////////////////////////////////

pip install -r requirements.txt

pip3 insta

[2022-11-02 14:28] #47 closed

[2022-11-02 22:02] ichmoimeyo commented on #47
@nmeyne Glad it worked for you - the pip3 always worked for me but I've edited the cheat-sheet for anybody reading this in the future.

https://www.pythonpool.com/pip-vs-pip3/

[2022-11-03 15:37] djsudduth commented on #47
Glad you solved it @nmeyne and thanks again @ichmoimeyo !!